body {
  .row {
    background-color: yellow;
  &.hero-image {
    background-color: rgb(12, 179, 248);
  }
  }
  .price {
    background-color: white;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
    &.alt {
      background-color: blue;
    }
  }
}
