body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 70px;
  font-weight: 700;
}
h2{
  font-size: 44px;
  font-weight: 600;
}

h3 {
  font-size: 48px;
  font-weight: 700;
}

h4 {
  font-size: 13px;
  font-weight: 700;
  color: #242526;
  letter-spacing: 2px;
}

ul {
  font-size: 14px;
  font-weight: 200;
  padding: 20px;
}

/* Navbar styling */
.bg-custom {
  background-color: rgb(12, 179, 248);
  color: white;
  margin-bottom: 0 !important;
  padding-top: 55px !important;
  font-size: 12px;
  font-weight: 700;
  img {
    margin-right: 10px;
  }
  h5 {
    font-weight: 600;
    font-size: 16px;
  }
}

/* Hero-Image styling */
.row {
  &.hero-image {
    background-color: rgb(12, 179, 248);
    color: white;
  }
}

/* Content Div styling */
.content {
  &.text-center {
    background-color: #f5f4f4;
    padding-top: 60px;
  }
  p {
    padding-top: 10px;
    padding-bottom: 65px;
    color: #747474;
    font-weight: 100;
    line-height: normal;
  }
  h2 {
    color: #242526;
  }
}
.row {
  &.content {
    padding-bottom: 50px;
    background-color: #f5f4f4;
    p {
      font-weight:400;
      font-size: 13px;
      line-height: 1.5;
      color: #747474;
      padding-bottom: 50px;
      letter-spacing: 1px;
    }
  }

}


/* License Div styling */
  .row {
    background-color: #222222;
    padding-left: 75px;
    padding-right: 75px;
    &.license {
      color: white;
      text-align: center;
      padding-top: 55px;
      h2{
        margin-bottom: 20px;
      }
      p{
        font-weight: 100;
        font-size: 16px;
        color: #bcc6d0;
        margin-top: 20px;
      }
    }
  }

/* Card styling */
  .price {
    background-color: white;
    border-radius: 5px;
    line-height: 200%;
    padding-top: 35px;
    padding-bottom: 47px;
    max-width: 300px;
    margin-top: 65px;
    margin-bottom: 108px;
    max-height: 440px;
    ul {
      list-style-position: inside;
      list-style-image: url('../images/okicon.png');
  }
    .btn {
    border-radius: 25px;
    border-width: 2px;
    border-color: #1b8bf9;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 10px;
    color: black;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
  }
    &.alt {
      background-color: #1b8bf9;
      color: white;
      ul {
        list-style-image: url('../images/greyokicon.png');
      }
      .btn-light {
        padding-left: 45px;
        padding-right: 45px;
      }
    }
  }


/* Jumbotron styling */
.jumbotron {
  box-shadow: inset 0 0 0 100vw rgba(20,18,18,0.5);
  background: var(--image-url) center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/cliffs.png');
  color: white;
  min-height: 344px;
  p{
    font-size: 14px;
    font-weight: 100;
  }
}
